<ul class="social-bar">
  <li class="social-link"><a href="https://linkedin.com/in{{ site.social_links.linkedin }}"><img class="social-icon" src="{{ site.baseurl }}/images/icon-linkedin-square.svg" /></a></li>
  <li class="social-link"><a href="https://github.com{{ site.social_links.github }}"><img class="social-icon" src="{{ site.baseurl }}/images/icon-github-square.svg" /></a></li>
  <li class="social-link"><a href="{{ site.social_links.youtube_channel_url }}"><img class="social-icon" src="{{ site.baseurl }}/images/icon-youtube-square.svg" /></a></li>
  <li class="social-link"><a href="{{ site.social_links.mastodon }}"><img class="social-icon" src="{{ site.baseurl }}/images/icon-mastodon-square.svg" /></a></li>
</ul>
